.apresentation {
    position: relative;
    left: 40px;
    top: 0%;
    background-color: #c1c1c1;
}

.displayName {
    position: relative;
    left: 290px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: #c1c1c1;
    border-radius: 10px;
    padding-left: 20px;
    border-right: 9px solid rgb(255, 255, 255);
}

.typing-animation {
    animation: blinkCursor 800ms steps(47, end) infinite, typing infinite 4s steps(47) 5s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 27em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #222bd6;
    }
    to {
        border-right-color: transparent;
    }
}

@media (max-width: 1235px) {
    .displayName {
        left: 70px;
    }
}

@media (max-width: 626px) {
    .apresentation {
        position: absolute;
        left: -30px;
        top: 340px;
        z-index: 9;
        width: 0;
        background-color: rgb(30, 30, 30);
    }
    .displayName {
        position: relative;
        left: 100px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 6px;
        color: rgb(0, 0, 0);
        background-color: #c1c1c1;
        border-radius: 10px;
        padding-left: 20px;
        border-right: 9px solid rgb(255, 255, 255);
    }
}
