.apresentação {
    position: relative;
    left: 40px;
    top: -170%;
    
    /* height: 20px; */
}




.nomeApres{
    border-right: 9px solid rgb(255, 255, 255);
    position: relative;
    left: 290px;
    top: 90px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color:#c1c1c1;
    border-radius: 10px;
    padding-left: 20px;

}

.typing-animation {
    animation: blinkCursor 800ms steps(47, end) infinite, typing infinite 4s steps(47) 5s normal both;
}

@keyframes typing {
    from {
        animation-timing-function: ease-in-out;
        width: 0;

    }

    to {

        width: 27em;
    }
}

@keyframes blinkCursor {
    from {

        border-right-color: #222bd6;
    }

    to {
        border-right-color: transparent;
    }
}


#posdes {
    position: relative;
    left: 100px;
    top: 60px;
}

@media (max-width:1235px){
.nomeApres{
left: 70px;
}
}
@media (max-width:626px){
    .apresentação{
   background-color:  rgb(30, 30, 30);
   left: -180px;
   z-index: 9;
    }
   
}