.header {
    position: fixed;
    width:36.2%;
    padding-bottom: 96vh;
    left: 0%;
    top: 0%;
    height: 100%;
    background-color: rgb(4, 4, 63);
    color: aliceblue;
}


  .descriptionOne{
    position: relative;
    font-size: 18px;
    color: rgb(159, 159, 159);
    width: 50%;
    height: 0%;
    top: 410px;
    left: 145px;
    background-color: black;
    opacity: 90%;
  }
  .descriptionTwo{
    position: relative;
    font-size: 16.6px;
    color: rgb(159, 159, 159);
    width: 50%;
    height: 0%;
    top: 470px;
    left: 145px;
    background-color: black;
    opacity: 90%;
  }
  .descriptionTree{
    position: relative;
    font-size: 16.5px;
    color: rgb(159, 159, 159);
    width: 50%;
    height: 0%;
    top: 440px;
    left: 145px;
    background-color: black;
    opacity: 90%;
  }
 
    
    #icon_facebook {
        position: relative;
        top: 370px;
        left: -0px;
        margin: 0px;
        border-radius: 30px;
    }
    
    #Git_icon {
        position: relative;
        top: 375px;
        left: 10px;
        background-color: rgb(23, 23, 23);
        margin: 0px;
        border-radius: 30px;
    }
    
    #icon_linkedin {
        position: relative;
        top: 372px;
        left: 20px;
        background-color: black;
        margin: 0px;
        border-radius: 30px;
    }
 
    .logo {
      position: absolute;
      left: 26%;
      top: 40px;
      width: 50%; 
      height: auto; 
      border-radius: 50%; 
      opacity: 0.88; 
  }
  .logo img {
    width: 100%;
    height: auto;
    display: block;
}
    @media (max-width:1470px){
      #icon_facebook, #Git_icon,#icon_linkedin{
      top: 350px;
    }
    .descriptionOne{
      left: 130px;
      top: 390px ;
     }
     .descriptionTwo{
      left: 130px;
      top: 450px
     }
     .descriptionTree{
      left: 130px;
      top: 420px

     }
     .logo {
      position: absolute;
      left: 26%;
      top: 40px;
      width: 50%; 
      height: auto; 
      border-radius: 50%; 
      opacity: 0.88; 
  }
  .logo img {
    width: 100%;
    height: auto;
    display: block;
}

    }
    @media (max-width:1235px){
      #icon_facebook, #Git_icon, #icon_linkedin{
      top: 290px;
    }
    .descriptionOne{
     left: 120px;
     top: 340px ;

    }
    .descriptionTwo{
      left: 120px;
      top: 400px

    }
    .descriptionTree{
      left: 120px;
      top: 370px


    }
    .logo {
      position: absolute;
      left: 26%;
      top: 40px;
      width: 50%;
      height: auto; 
      border-radius: 50%; 
      opacity: 0.88; 
  }
  .logo img {
    width: 100%;
    height: auto;
    display: block;
}
    }
    @media (max-width:980px){
      #icon_facebook, #Git_icon, #icon_linkedin{
        top: 280px;
      }
      .descriptionOne{
        left: 95px;
        top: 350px ;
   font-size: 14px;
       }
       .descriptionTwo{
        left: 100px;
        top: 380px ;
   font-size: 14px;
   
       }
       .descriptionTree{
        left: 100px;
        top: 410px ;
   font-size: 14px;
   
   
       }
       .logo {
        position: absolute;
        left: 26%;
        top: 40px;
        width: 50%; 
        height: auto;
        border-radius: 50%; 
        opacity: 0.88; 
    }
    .logo img {
      width: 100%;
      height: auto;
      display: block;
  }
    }
    @media (max-width:909px){
      #icon_facebook, #Git_icon, #icon_linkedin{
        top: 280px;
      }
      .descriptionOne{
        left: 75px;
        top: 370px ;
        font-size: 12px;

       }
       .descriptionTwo{
         left: 80px;
         top: 400px;
         font-size: 12px;

       }
       .descriptionTree{
         left: 80px;
         font-size: 12px;
         top: 430px
   
   
       }
       .logo {
        position: absolute;
        left: 26%;
        top: 40px;
        width: 50%; 
        height: auto; 
        border-radius: 50%; 
        opacity: 0.88; 
    }
    .logo img {
      width: 100%;
      height: auto;
      display: block;
  }
  }
 
  @media (max-width:784px){
    #icon_facebook, #Git_icon, #icon_linkedin{
      top: 290px;
    }
    .descriptionOne{
      left: 72px;
      top: 310px ;
      font-size: 8px;

     }
     .descriptionTwo{
       left: 72px;
       top: 330px;
       font-size: 8px;

     }
     .descriptionTree{
       left: 72px;
       font-size: 8px;
       top: 350px
 
 
       
     }
     .logo {
      position: absolute;
      left: 26%;
      top: 40px;
      width: 50%; 
      height: auto; 
      border-radius: 50%; 
      opacity: 0.88; 
  }
  .logo img {
    width: 100%;
    height: auto;
    display: block;
}
}

@media (max-width:626px){

  html{
margin: -11px; 

}
  .header{
    position:relative ;
      width:620px;
      z-index: 9;
      left: 0px;
      background-color: rgb(4, 4, 63);
      
      
  }
  a{
    background-color: rgb(4, 4, 63);

  }

  #icon_facebook, #Git_icon{
    top: 370px;
left: -145px;
margin-right: 20px;
}
#icon_linkedin{
  top: 372px;
  left: -145px;
  margin-right: 20px;
}
  .descriptionOne{
    left:0px;
    top: 400px ;
    font-size: 16px;

   }
   .descriptionTwo{
     left: 5px;
     top: 440px;
     font-size: 16px;
     z-index: 9;

   }
   .descriptionTree{
     left: 6px;
     font-size: 16px;
     top: 480px;
z-index: 9;

   }
   .logo {
    position: absolute;
    left: 6%;
    top: 40px;
    width: 40%; 
    height: auto; 
    border-radius: 50%; 
    opacity: 0.88; 
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
}
}