
    a {
        text-decoration:none;
        color: rgb(0, 0, 0);
       background-color: rgb(255, 255, 255);
    }
    #custom-button {
      background-color: rgb(4, 4, 63);
      border-color: black; 
      
    }
    .editMenu{
      display: flex;    
        }
    #custom-button.active {
color: rgb(4, 4, 63);  
    background-color: rgb(4, 4, 63);
      justify-content: center;
      margin-right: 20px;
      margin-left: 20px;
      font-size: larger;
      height: 50px;
    }
    .custom-link {
      margin-right: 10px;
      
    }
    span{
      background-color: rgb(4, 4, 63);
      color: white;
    }
    .menu {
      display: flex; 
      left: 50px;
      width: 80px;
    }
 

    #menu {
      display: flex; 
    }
    /* #space{
      padding-right: 10px;
    } */
    @media (max-width:626px){
      .menu{
        position: absolute;
          top: 20px;
          left: -20px;
          width: 30%;
          z-index: 9;


      }
      .editMenu{
display: flex; 
position: absolute;
top: 700px;
left: 70px;
 }
     
     
  }