.position{
    position: absolute;
    top: 90px;
    left:-60px;
    z-index: 9;
    background-color: rgb(233, 233, 233);
    /* padding:200px ; */
    width:890px;
    height: 530px;
    overflow-y: scroll;
    
}
.editCardPortfolio{
    height: "480px";
    position: relative;
    font-Size: "20px"
}
/* .ant-carousel .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .slick-dots {
    z-index: 10; /* Ajuste conforme necessário */
  }
  
  .ant-carousel .slick-dots {
    bottom: -10px; 
    background-color: black;
  }
.imgSistemas {
    width: 98%;
    height: 100%;
  }
  
  .ant-carousel .slick-slide {
    text-align: center;
  }
.git{
    position: absolute;
     left: 88%;
     top:-20px
}
.youtube{
    position: absolute;
    top:-20px;
     left: 80%
}
.imgPortfolio{
     position: "relative";
      top: -10px;
       left: 10px
}
.imgSistemas{
    position: relative;
     top: 30px;
      left: 10px
}
.imgPipeline{
    position: relative; 
    top: 30px; 
    left: 10px
}
.card {
    position: relative;
    top: 30px;
    width: 800px;
    left: 30px;
    margin-bottom: 20px;
  }
@media (max-width:1490px){
    .card {
        position: relative;
        top: 30px;
        width: 800px;
        left: 30px;
        margin-bottom: 20px;
      }
    .position{
        width:690px;
        top: 90px;
        left:-60px;
    }
    .ant-card-body{
        width: 300px;
    }
    .git{
        position: absolute;
        left: 200%;
    }
    .youtube{
        position: absolute;
        left: 170%;
    }
  
    .imgSistemas{
        position: relative;
         top: 30px;
          left: 10px;
          width: 200%;
          height: 100%;
    }
    .imgPipeline{
        position: relative; 
        top: 30px;
         left: 10px;
         width: 580px;
         height: 300px;
    }
   .card{
    top: 30px;
    width: 630px;
    left: 30px;
   }
}
@media (max-width:1340px){
    .position{
        width:450px;
        top: 90px;
        left:-60px;  
     }
    .ant-card-body{
        width: 300px;
    }
    .git{
        position: absolute;
        left: 120%;
    }
    .youtube{
        position: absolute;
        left: 95%;
    }
    .imgPortfolio{
        position: "relative";
        top: -10px;
        left: 10px;
        width:350px;
        height: 200px;
    }
    .imgSistemas{
        position: relative;
         top: 30px;
          left: 10px;
          width: 350px;
          height: 200px;
    }
    .imgPipeline{
        position: relative; 
        top: 30px;
         left: 10px;
         width: 350px;
         height: 200px;
    }
   .card{
    top: 30px;
    width: 390px;
    left: 30px;
   }
}
@media (max-width:963px){
    .position{
        width:450px;
        top: 90px;
        left:-60px;  
      }
}
    @media (max-width:861px){
        .position{
            width:450px;
            top: 90px;
            left:-60px;
               }
}
@media (max-width:790px){
    .position{
        width:370px;
        top: 90px;
        left:-60px;
       }
    .ant-card-body{
        width: 300px;
    }
    .git{
        position: absolute;
        left: 90%;
        height: 40px;
    }
    .youtube{
        position: absolute;
        left: 70%;
        height: 40px;
    }
    .imgPortfolio{
        position: "relative";
        top: -10px;
        left: 2px;
        width:280px;
        height: 140px;
    }
    .imgSistemas{
        position: relative;
         top: 30px;
          left: 10px;
          width:280px;
          height: 140px;
    }
    .imgPipeline{
        position: relative; 
        top: 30px;
         left: 10px;
         width:280px;
         height: 140px;
    }
   .card{
    top: 30px;
    width: 315px;
    left: 30px;
   }
}
@media (max-width:680px){
    .position{
        width:370px;
        top: 90px;
        left:-60px;
       }
   
}
@media (max-width:626px){
    .position{
        position: absolute;
        width:390px;
        left: -67px;
        top: 100px;
      z-index: 9;
        
    }


    .card{
        width: 330px;
    }
   
}

