:root{
    --aside-width:600px;
    --header-height:60px;
    --footer-height:40px;
}
*{
    font-family: 'Montserrat','sans-serif';
    background-color: #ffffff;

}

.app{
margin:0px;
width: 900px;
height: 600px;
background-color: #ffffff;
}





